/* BASIC RESET */
html, body {
  background: transparent;
  border: 0;
  font-family: arial, sans-serif;
  font-size: 90%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  width: 100%;
}

/* GLOBAL STYLES */
a {
  color: rgba(0, 0, 0, 0.87);
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* HEADER STYLES */
.header-nav {
  float: right;
  margin: 1.5em;
}

.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}

.header-nav button {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  padding: 0.7em;
}
.header-nav button:hover {
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

/* SEARCH AREA */
.ph-locale {
  color: #1a0dab;
  padding-left: 0.75em;
}
.search-area {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -40%);
}
.search-area img {
  display: block;
}
.search-area input[type="submit"] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #f2f2f2;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  color: #757575;
  font-size: 100%;
  font-weight: bold;
  margin: 0 0.2em 2.2em;
  padding: 0.7em 1.1em;
}
.search-area input[type="submit"]:hover {
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.search-area input[type="text"] {
  -moz-appearance: none;
  -moz-box-shadow: 0 1px 4px #ccc;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 4px #ccc;
  appearance: none;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 4px #ccc;
  display: block;
  font-size: 110%;
  padding: 0.9em;
  width: 540px;
}
.search-area * {
  margin: 0 auto 2.2em;
}

/* FOOTER STYLES */
.country {
  color: rgba(0,0,0,.54);
  font-size: 15px;
  padding: 0.7em 0 0.7em 2em;
}
.footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.footer-div {
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.footer-div-right {
  padding-right: 1.9em;
  text-align: right;
}
.footer-nav {
  padding: 0 3px;
}
.footer-nav > li {
  display: inline-block;
  margin-left: 1.9em;
}
